{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "packageManager": "npm",
  "printWidth": 110,
  "useTabs": false,
  "jsxSingleQuote": true,
  "requireConfig": true
}
